@model UrlShortener.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
</head>
<body>
<div>
    <h1>Регистрация нового пользователя</h1>
</div>
    @using (@Html.BeginForm("Register"))
    {
        @Html.EditorFor(model => model.UserName)
        @Html.EditorFor(model => model.UserPassword)
        <input type="submit" class="btn btn-primary" value="Создать"/>
    }
</body>
</html>
